@CHARSET "ISO-8859-1";
h4 {
	background-color: gray;
}

#buttons li.btnhomevisited a {
background-image:url('home visited.png');
background-repeat:no-repeat;
width:60px;
height:15px;
}
#buttons li.btnhome a {
background-image:url('home.png');
background-repeat:no-repeat;
width:60px;
height:15px;
}
#buttons li.btnhome a:hover {
background-image:url('home hover.png');
background-repeat:no-repeat;
width:60px;
height:15px;
}